In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('customer_Records.db')
print("Opened database successfully");

Opened database successfully

In [2]:
# Create Table
q1='''CREATE TABLE Customer_record(
    Customer_Name VARCHAR(255) NOT NULL,
    Customer_Id VARCHAR(255) NOT NULL,
    Open_Date DATE NOT NULL,
    Last_Consulted_Date DATE,
    Vaccination_Type CHAR(5),
    Dr_consulted CHAR(255),
    State CHAR(5),
    Country CHAR(5),
    Postal_Code INT,
    DOB DATE,
    Is_Active CHAR,
    PRIMARY KEY(Customer_Name)
    )'''

conn.execute(q1)

In [3]:
#insert data
conn.execute('''INSERT INTO Customer_record VALUES ('Alex','123457','20101012','20121013','MVD','Paul','SA','USA',42516,'06031987','A')''')
conn.execute('''INSERT INTO Customer_record VALUES ('John','123458','20101012','20121013','MVD','Paul','TN','IND',42587,'06031987','A')''')
conn.execute('''INSERT INTO Customer_record VALUES ('Mathew','123459','20101012','20121013','MVD','Paul','WAS','PHIL',45289,'06031987','A')''')
conn.execute('''INSERT INTO Customer_record VALUES ('Matt','12345','20101012','20121013','MVD','Paul','BOS','NYC',45127,'06031987','A')''')
conn.execute('''INSERT INTO Customer_record VALUES ('Jacob','1256','20101012','20121013','MVD','Paul','VIC','AU',49875,'06031987','A')''')

In [4]:
# Dataload in CSV
query1 = '''select * from Customer_record'''
df = pd.read_sql_query(query1,conn)
dataframe = pd.DataFrame(df)
dataframe.to_csv("/content/costumer_records.csv",sep='|',index=False)

In [5]:
df2 = pd.read_csv("/content/costumer_records.csv")
print(df2)

  Customer_Name|Customer_Id|Open_Date|Last_Consulted_Date|Vaccination_Type|Dr_consulted|State|Country|Postal_Code|DOB|Is_Active
0  Alex|123457|20101012|20121013|MVD|Paul|SA|USA|...
1  John|123458|20101012|20121013|MVD|Paul|TN|IND|...
2  Mathew|123459|20101012|20121013|MVD|Paul|WAS|P...
3  Matt|12345|20101012|20121013|MVD|Paul|BOS|NYC|...
4  Jacob|1256|20101012|20121013|MVD|Paul|VIC|AU|4...

In [6]:
# Distinct countries
query2='''SELECT DISTINCT Country FROM Customer_record'''
Countries = conn.execute(query2)

In [7]:
dist_con = []
for i in Countries:
  dist_con.append(i[0])

In [8]:
# Create Table Per Country wise
for i in range(len(dist_con)):
  conn.execute('CREATE TABLE "{}" AS SELECT * FROM Customer_record WHERE Country = "{}"'.format(dist_con[i],dist_con[i]))

In [10]:
# Example For USA Country
country = conn.execute('''select * from USA''')
for row in country:
  print(row)

('Alex', '123457', 20101012, 20121013, 'MVD', 'Paul', 'SA', 'USA', 42516, 6031987, 'A')